﻿@model ShowRoom.Models.LoginViewModel

@{
    ViewBag.Title = "Log ind";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(m => m.Email) @Html.ValidationMessageFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password) @Html.ValidationMessageFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
    </div>
    <button type="submit" class="btn btn-primary">Log ind</button>
}

