﻿@using System.Configuration
@model ShowRoom.Models.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";

    DirectoryInfo di = new DirectoryInfo("C:\\Users\\Aris\\Documents\\Repositories\\" + User.Identity.Name);
    FileInfo[] rgFiles = di.GetFiles("*");
    DirectoryInfo[] rgDir = di.GetDirectories();

    var root = ConfigurationManager.AppSettings["ListDirectory"] + "\\" + User.Identity.Name;
}



<div class="row">
    <div class="col-md-8">
        <h2>Hej @User.Identity.Name</h2>

        

        @*@foreach (var FileInfo in rgFiles)
        {

            <ul>
                <li><a target="_top" href="@di\@FileInfo.Name">@FileInfo.Name</a></li>
            </ul>
            

        }
        @foreach (var DirectoryInfo in rgDir)
        {
            <ul>
                <li><a href="">@DirectoryInfo.Name</a></li>
            </ul>
            
        }*@

        

        @foreach (var folder in Model.Folders)
        {
            <ul>
                <li><a href="@Url.Action("Index", new { folder = folder.Substring(Model.Root.Length) })">@Path.GetFileName(folder)</a></li>
            </ul>
        }
        @if (Model.Files.Count > 0)
        {
            <h3>Filer</h3>
            <ul>
                @foreach (var file in Model.Files)
                {
                    <li><a href="@Url.Action("File", new { path = $"{Model.Folder}\\{file}" })">@file</a></li>
                }
            </ul>
        }

    </div>
</div>